<div class="w-[500px] mx-auto flex flex-col px-6 py-4 bg-white rounded-lg shadow-xl m-4">
    <h4 class="text-xl text-gray-900 leading-normal text-center pb-2">Grupo</h4>
    <table class="table-fixed">
      <thead>
        <tr class="text-left">
          <th colspan="2">Equipe</th>
          <th>Pts</th>
          <th>PJ</th>
          <th>VIT</th>
          <th>E</th>
          <th>DER</th>
          <th>GM</th>
          <th>GC</th>
          <th>SG</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of grupo" class="py-2">
          <td><img [src]=pais.flagUrl/></td>
          <td>{{ pais.name }}</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
</div>
