<div class="w-[500px] mx-auto flex flex-col px-4 py-2 bg-white rounded-lg shadow-xl m-4">
    <h4 class="text-xl text-gray-900 leading-normal text-center">Grupo</h4>
    <div>
      <div class="font-bold">
        <div class="text-left flex flex-row py-1">
          <div class="w-2/5">
            Equipe
          </div>
          <div class="flex flex-row w-3/5 justify-between">
            <div class="w-8">Pts</div>
            <div class="w-6">PJ</div>
            <div class="w-6">V</div>
            <div class="w-6">E</div>
            <div class="w-6">D</div>
            <div class="w-6">GM</div>
            <div class="w-6">GC</div>
            <div class="w-6">SG</div>
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let pais of grupo" class="flex flex-row py-2">
          <div class="flex flex-row w-2/5 items-center">
            <img [src]=pais.flagUrl class="mr-2"/>
            <div>{{ pais.name }}</div>
          </div>
          <div class="flex flex-row justify-between w-3/5 items-center">
            <div class="w-8">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
            <div class="w-6">0</div>
          </div>
        </div>
      </div>
    </div>
</div>
