<table class="table table-sm table-dark table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Equipe</th>
      <th>Pts</th>
      <th>PJ</th>
      <th>VIT</th>
      <th>E</th>
      <th>DER</th>
      <th>GM</th>
      <th>GC</th>
      <th>SG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Catar</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Equador</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Senegal</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Holanda</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
      <td>00</td>
    </tr>
  </tbody>
</table>
