<div class="flex justify-evenly items-center mt-8 mb-2">
  <div class="flex items-center w-2/5 justify-evenly">
    <img class="w-8" src="../../../assets/flags/qa.png" alt="">
    <p class=" text-center mx-2">Catar</p>
    <input class="w-8 border border-rose-800 rounded text-center" type="text">
  </div>
  <span class="w-1/5 text-center">X</span>
  <div class="flex items-center w-2/5 justify-evenly">
    <input class="w-8 border border-rose-800 rounded text-center" type="text">
    <p class="text-center mx-2">Equador</p>
    <img class="w-8" src="../../../assets/flags/ec.png" alt="">
  </div>
</div>
<div class="text-xs flex justify-center gap-4">
  <div>
    <p>Al Bayt Stadium</p>
  </div>
  <div>
    <p>20/11 · 12:00</p>
  </div>
</div>
